//- uicommands structure
#uicommands.box
    button#require-device-button.click-button Require Device
    button#disconnect-button.click-button Disconnect
    button#start-benchmarks-button.click-button #
