//- statedisplay structure
#statedisplay
    #feedback-block #
    #total-average-block
        h1#total-average-title Total Average Stats
        #total-package-number.packages-per-second #
        #total-bytes.bytes-per-second #
        #total-assumed-connection-interval.milliseconds #
    include ../benchmarkmodule/benchmarktable.pug
